<table id="show_dancerData">
        <thead>
            <tr>
                <th scope="col" id="name">Dancer Name</th>
                <th scope="col" id="bio">Dancer Bio</th>
                <th scope="col" id="Instagram name">Instagram name</th>
                <th scope="col" id="Delete Entry">Delete Entry</th>
                
            </tr>
        </thead>
    <%= Dancer.find_each do |dancer| %>

        <tbody>
            <tr>
                <td><%= dancer.name %></td>
                <td><%= dancer.bio %></td>
                <td><%= dancer.ighandle %></td>
                <td><%= link_to 'Delete', dancers_bio(dancer), method: :delete, data: { confirm: 'Are you sure?' }, :id => "Database_delete"%></td>
                </tr>
        </tbody>
    <% end %>
</table>